body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    width: 100%;
    background-color: aqua;
    color: white;
    display: flex;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
}

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    
}

.navbar ul li {
    background-color: red;
    height: 50px;
    border: 2px solid white;
    width: 170px;
    text-align: center;
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.naver ul li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 50px;
}

.naver ul li a:hover {
    background-color: green;
    transition: ease-in 0.5s;
}
 

.naver ul ul {
    display: none;
}

.naver ul li:hover > ul {
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 2px;
}





