.sprite {
    width: 40px;
    height: 35px;
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    border-radious: 50px;
    transition: 1s;
 
}

.sprite:hover {
    background-position: 0 -130px;
}
