.box {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    color: darkblue;
    margin: 100px auto;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: 0.5s;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.5s    ;
}

.box:hover {
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    color: white;
    margin: 50px auto;
}

