.box {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    color: darkblue;  
    transform: rotate(15deg);
}

.box h3 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
    position: relative;
    top: 50%;
}